# Add patterns to ignore here, one per line

### ============================================ ###
### === THESE MATCHING FILES WILL BE IGNORED === ###
### ============================================ ###
